body {
    background: darkgray;
}

.chunk-field {
    position: absolute;
}

.chunk {
    table-layout: fixed;
    width: 150px;
    height: 150px;
    position: absolute;
    border: 1px solid black;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
}

.chunk td {
    border: none;
}

.chunk tr {
    width: 100%;
    height: 25%;
}

.tile-container {
    margin: 0px;
    padding: 0px;
}

.tile {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-weight: 600;
}

.tile:focus {
    outline: none;
}

.tile-outset {
    border: outset;
}

.tile-none {
    border: 0.5px solid darkgray;
}

.tile-mine {
    font-size: 1rem;
}

.tile-decorated {
    color: red;
    font-size: 1.5rem;
}

.tile-empty {}

.tile-1 {
    font-size: 1.5rem;
    color: blue;
}

.tile-2 {
    font-size: 1.5rem;
    color: green;
}

.tile-3 {
    font-size: 1.5rem;
    color: red;
}

.tile-4 {
    font-size: 1.5rem;
    color: darkblue;
}

.tile-5 {
    font-size: 1.5rem;
    color: maroon;
}

.tile-6 {
    font-size: 1.5rem;
    color: teal;
}

.tile-7 {
    font-size: 1.5rem;
    color: black;
}

.tile-8 {
    font-size: 1.5rem;
    color: darkgreen;
}
